<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is the "About Us" page of the sample microblogging application. Currently, there is no content here, but you can add your 
  own content.
</p>