<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Need help with creating your own microblogging application? Then simply visit the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
</p>